@tailwind base;
@tailwind components;
@tailwind utilities;

.file-input {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.textarea {
    max-width: 3000px;
    height: 20em;
    width: 50em;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.btn-setting {
    width: 10em;
    margin: 3em;
    position: absolute;
    top: 380px;
    right: 250px;
}

.fn-btn {
    padding-top: 10px;
}

.analysis-container {
    display: flex;
}

.analysis-wrapper {
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 10px;
}